* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #ececec;
}

.container {
  position: relative;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  height: 100vh;
}

.title,
.title-flap {
  display: grid;
  place-content: center;
  font-size: clamp(7.6rem, 6.183rem + 1.848vw, 8.4rem);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #bdbdbd;
  text-transform: uppercase;
  letter-spacing: -0.3rem;
}

.title-flap {
  transform: scale(-1);
}

.content {
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 4%;
  margin-inline: auto;
  padding-inline: 8%;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

/*---------------------------------------------------
ポップアップCSS
---------------------------------------------------*/
.popup {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.popup-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  filter: brightness(0.85);

  @media (hover: hover) {
    &:hover {
      filter: brightness(1);
    }
    cursor: pointer;
  }

  &.active {
    position: fixed;
    top: 15%;
    left: 8%;
    z-index: 20;
    width: calc(100% - 16%);
    height: calc(100% - 30%);
    filter: brightness(1);

    @media (1200px <= width) {
      left: 22%;
      width: calc(100% - 44%);
    }
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
  }
}
